on early-boot
    chown system system /sys/class/xiaomi_fp/xiaomi-fp/device/fingerdown
    chmod 0664 /sys/class/xiaomi_fp/xiaomi-fp/device/fingerdown

on boot
    #GOODIX
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    #fpc
    chown system system /sys/bus/platform/devices/fingerprint/clk_enable
    chmod 0660 /sys/bus/platform/devices/fingerprint/clk_enable
    chown system system /sys/bus/platform/devices/fingerprint/power_ctrl
    chmod 0660 /sys/bus/platform/devices/fingerprint/power_ctrl
    chown system system /sys/bus/platform/devices/fingerprint/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/fingerprint/wakeup_enable
    chown system system /sys/bus/platform/devices/fingerprint/hw_reset
    chmod 0660 /sys/bus/platform/devices/fingerprint/hw_reset
    chown system system /sys/bus/platform/devices/fingerprint/screen
    chmod 0660 /sys/bus/platform/devices/fingerprint/screen
    chown system system /sys/bus/platform/devices/fingerprint/irq
    chmod 0660 /sys/bus/platform/devices/fingerprint/irq
    chown system system /sys/bus/spi/devices/spi1.0/clk_enable
    chmod 0660 /sys/bus/spi/devices/spi1.0/clk_enable
    chown system system /sys/bus/spi/devices/spi1.0/wakeup_enable
    chmod 0660 /sys/bus/spi/devices/spi1.0/wakeup_enable
    chown system system /sys/bus/spi/devices/spi1.0/hw_reset
    chmod 0660 /sys/bus/spi/devices/spi1.0/hw_reset
    chown system system /sys/bus/spi/devices/spi1.0/irq
    chmod 0660 /sys/bus/spi/devices/spi1.0/irq
    chown system system /sys/bus/spi/devices/spi1.0/screen
    chmod 0660 /sys/bus/spi/devices/spi1.0/screen
    chown system system /sys/bus/spi/devices/spi1.0/power_ctrl
    chmod 0660 /sys/bus/spi/devices/spi1.0/power_ctrl
    chown system system /sys/bus/spi/devices/spi1.0/fingerdown_wait
    chmod 0660 /sys/bus/spi/devices/spi1.0/fingerdown_wait
    chown system system /sys/bus/spi/devices/spi5.0/authen_fd/performance
    chmod 0660 /sys/bus/spi/devices/spi5.0/authen_fd/performance
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/bus/platform/devices/fingerprint/fingerdown_wait
    #chmod 0664 /sys/bus/platform/devices/fingerprint/fingerdown_wait
    chmod 0666 /dev/input/event2
    # xiaomi fingerprint
    chmod 0666 /dev/xiaomi-fp
    chown system system /dev/xiaomi-fp
    chmod 0660 /dev/mifp_id
    chown system system /dev/mifp_id

on post-fs-data
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/jiiov 0770 system system
